/*基础*/
body, h1, h2, h3, h4, h5, h6, p, br, hr,
/*格式*/
abbr, address, b, bdi, bdo, blockquote, cite,
code, del, dfn, em, i, ins, kbd, mark, meter,
pre, progress, q, rp, rt, ruby, s, samp, small,
strong, sub, sup, time, u, var, wbr,
/*表单*/
form, input, textarea, button, select, optgroup, option,
label, fieldset, legend, datalist, keygen, output,
/*框架*/
iframe,
/*图像*/
img, map, area, canvas, figcaption, figure,
/*音频/视频*/
audio, source, track, video,
/*链接*/
a, link, nav,
/*列表*/
ul, ol, li, dl, dt, dd, menu,
/*表格*/
table, caption, th, tr, td, thead, tbody, tfoot,
col, colgroup,
/*样式/节*/
style, div, span, header, footer, section, article,
aside, details, dialog, summary,
button
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
    color: inherit;
    /*background-color: inherit;*/
    word-break: break-word;
    /*white-space: normal;*/
    text-align: inherit;
    -webkit-tap-highlight-color: transparent;
    text-size-adjust: none;
    font-weight: inherit;
}

html, body{
    width: 100%;
    height: 100%;
    font-family: 'Microsoft YaHei';
    /*background-color: #ffffff;*/
}

ol, ul{
    list-style: none;
}

img{
    /*height: auto;*/
}

table{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
}

table thead tr th{
    font-weight: normal;
}

table tbody tr td{
    text-align: center;
}

a{
    text-decoration: none;
}

a:link, a:visited, a:hover, a:active{
    /*color: inherit;*/
}

a, button, select,
input[type="submit"], input[type="button"],
input[type="search"], input[type="reset"],
input[type="checkbox"], input[type="radio"]{
    cursor: pointer;
}

input[type="search"]::-webkit-search-cancel-button{
    -webkit-appearance: none;
}

input::placeholder, textarea::placeholder{
    color: #999999;
}

input, textarea{
    /*width: 100%;*/
    flex: 1;
}

pre, input, select, textarea, button, fieldset{
    border: none;
    outline: none;
    font-family: inherit;
    -webkit-appearance: none;
    background-color: transparent;
}

button[disabled], input[disabled]{
    cursor: default;
}

iframe{
    display: block;
    outline: none;
    width: 100%;
    height: auto;
    border: none;
}
